/**
 This Scrtpt file is developed by
Aditya Kameswara Rao Nandula
Senior Project Scientist,
Virtual Labs IIT Kharagpur.
LinkedIn: https://in.linkedin.com/in/akraonandula/
 */
 
#grph{
    width: content;
    height: content;
}

table{
    border-width: 0mm;
}

tr, td{
    width: fit-content;
    border-width: 0mm;
}

.tdb{
width: 10em;
text-align: end;
}

.ent{
    width: 10em;
    }

.dsbld {
    pointer-events: none;
    opacity: 0.5;
    /* Optional: Add additional styles to convey disabled state 
    background-color: #f2f2f2;
    color: #999;*/
    cursor: not-allowed;
}
